# **Project Title - Vaccination Data Analysis and Visualization**

#### **By Shubham Pandey**

#### **Problem Statement:**
To understand the trends iin vaccination coverage, disease incidence, and effectiveness.

#### **Github:** https://github.com/Shubhampandey1git/Vaccination-Project.git

## **Imports**

In [57]:
import pandas as pd
import re
import numpy as np
import sqlite3

## **Data Loading**

In [58]:
# PATHS
coverage = "data/coverage-data.xlsx"
incidence_rate = "data/incidence-rate-data.xlsx"
reported_cases = 'data/reported-cases-data.xlsx'
vaccine_introduction = "data/vaccine-introduction-data.xlsx"
vaccine_schedule = "data/vaccine-schedule-data.xlsx"

In [59]:
coverage_df = pd.read_excel(coverage)
incidence_rate_df = pd.read_excel(incidence_rate)
reported_cases_df = pd.read_excel(reported_cases)
vaccine_introduction_df = pd.read_excel(vaccine_introduction)
vaccine_schedule_df = pd.read_excel(vaccine_schedule)

## **First Look**

In [60]:
display(coverage_df.head())
display(coverage_df.info())

display(incidence_rate_df.head())
display(incidence_rate_df.info())

display(reported_cases_df.head())
display(reported_cases_df.info())

display(vaccine_introduction_df.head())
display(vaccine_introduction_df.info())

display(vaccine_schedule_df.head())
display(vaccine_schedule_df.info())

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399859 entries, 0 to 399858
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          399859 non-null  object
 1   CODE                           399858 non-null  object
 2   NAME                           398584 non-null  object
 3   YEAR                           399858 non-null  float64
 4   ANTIGEN                        399858 non-null  object
 5   ANTIGEN_DESCRIPTION            399858 non-null  object
 6   COVERAGE_CATEGORY              399858 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  399858 non-null  object
 8   TARGET_NUMBER                  79030 non-null   float64
 9   DOSES                          79327 non-null   float64
 10  COVERAGE                       230477 non-null  float64
dtypes: float64(4), object(7)
memory usage: 33.6+ MB

None

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84946 entries, 0 to 84945
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84946 non-null  object
 1   CODE                 84945 non-null  object
 2   NAME                 84945 non-null  object
 3   YEAR                 84945 non-null  float64
 4   DISEASE              84945 non-null  object
 5   DISEASE_DESCRIPTION  84945 non-null  object
 6   DENOMINATOR          84945 non-null  object
 7   INCIDENCE_RATE       61584 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.2+ MB

None

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84870 entries, 0 to 84869
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84870 non-null  object
 1   CODE                 84869 non-null  object
 2   NAME                 84869 non-null  object
 3   YEAR                 84869 non-null  float64
 4   DISEASE              84869 non-null  object
 5   DISEASE_DESCRIPTION  84869 non-null  object
 6   CASES                65470 non-null  float64
dtypes: float64(2), object(5)
memory usage: 4.5+ MB

None

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138321 entries, 0 to 138320
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   138321 non-null  object
 1   COUNTRYNAME  138320 non-null  object
 2   WHO_REGION   138320 non-null  object
 3   YEAR         138320 non-null  float64
 4   DESCRIPTION  138320 non-null  object
 5   INTRO        138320 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

None

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8053 entries, 0 to 8052
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISO_3_CODE             8053 non-null   object
 1   COUNTRYNAME            8052 non-null   object
 2   WHO_REGION             8052 non-null   object
 3   YEAR                   8052 non-null   float64
 4   VACCINECODE            8052 non-null   object
 5   VACCINE_DESCRIPTION    8052 non-null   object
 6   SCHEDULEROUNDS         8052 non-null   float64
 7   TARGETPOP              3795 non-null   object
 8   TARGETPOP_DESCRIPTION  8052 non-null   object
 9   GEOAREA                8022 non-null   object
 10  AGEADMINISTERED        7007 non-null   object
 11  SOURCECOMMENT          5139 non-null   object
dtypes: float64(2), object(10)
memory usage: 755.1+ KB

None

Describing all DF

In [61]:
display(coverage_df.describe())

display(incidence_rate_df.describe())

display(reported_cases_df.describe())

display(vaccine_introduction_df.describe())

display(vaccine_schedule_df.describe())

                YEAR  TARGET_NUMBER         DOSES       COVERAGE
count  399858.000000   7.903000e+04  7.932700e+04  230477.000000
mean     2009.207489   2.780192e+08  3.467241e+06      78.032914
std        11.720530   5.415244e+10  1.125676e+07      74.891697
min      1980.000000   0.000000e+00 -2.222882e+08       0.000000
25%      2002.000000   3.281400e+04  1.446900e+04      69.320000
50%      2012.000000   3.178715e+05  1.522120e+05      88.790000
75%      2019.000000   2.493048e+06  9.710185e+05      96.000000
max      2023.000000   1.170000e+13  1.266052e+08   32000.000000

               YEAR  INCIDENCE_RATE
count  84945.000000    61584.000000
mean    2004.095791      109.448781
std       12.595166      992.276983
min     1980.000000        0.000000
25%     1994.000000        0.000000
50%     2005.000000        0.000000
75%     2015.000000        4.600000
max     2023.000000    69101.300000

               YEAR         CASES
count  84869.000000  6.547000e+04
mean    2004.108261  4.472409e+03
std       12.591396  6.114455e+04
min     1980.000000  0.000000e+00
25%     1994.000000  0.000000e+00
50%     2005.000000  1.000000e+00
75%     2015.000000  6.300000e+01
max     2023.000000  4.583555e+06

                YEAR
count  138320.000000
mean     2001.267879
std        17.679511
min      1940.000000
25%      1992.000000
50%      2006.000000
75%      2015.000000
max      2023.000000

              YEAR  SCHEDULEROUNDS
count  8052.000000     8052.000000
mean   2022.941505        2.053403
std       0.441237        1.316560
min    2019.000000        1.000000
25%    2023.000000        1.000000
50%    2023.000000        2.000000
75%    2023.000000        3.000000
max    2023.000000        7.000000

## **Data Cleaning**

#### **Individual cleaning for each**

- Coverage_df

In [62]:
# Dropping missing COVERAGE rows
coverage_df = coverage_df.dropna(subset=['COVERAGE'])

# Ensuring coverage is between 0-100
coverage_df = coverage_df[(coverage_df['COVERAGE']>=0) & (coverage_df['COVERAGE']<=100)]

# Function for creating the dose number variable
def extract_dose(description):
    if pd.isna(description):
        return None
    
    # Look for patterns like "1st dose", "2nd dose", "3rd dose", "4th dose", etc.
    match = re.search(r'(\d+)(st|nd|rd|th)\s+dose', description, flags=re.IGNORECASE)
    if match:
        return int(match.group(1))
    
    # Look for boosters: "1st booster", "2nd booster", etc.
    match_booster = re.search(r'(\d+)(st|nd|rd|th)\s+booster', description, flags=re.IGNORECASE)
    if match_booster:
        return int(match_booster.group(1)) + 3  # boosters usually follow 3 primary doses
    
    # If antigen is like "DTP3", "DIPHCV4" etc.
    match_antigen = re.search(r'(\d+)', description)
    if match_antigen:
        return int(match_antigen.group(1))
    
    return 1  # fallback if no number found â†’ assume single dose

# applying the function
coverage_df['DOSE_NUMBER'] = coverage_df['ANTIGEN_DESCRIPTION'].apply(extract_dose)

In [63]:
# Getting all Antigen names
unique_antigens = coverage_df['ANTIGEN'].unique()
display(unique_antigens)

array(['DIPHCV4', 'DIPHCV5', 'DIPHCV6', 'DTPCV1', 'DTPCV3', 'HEPB3',
       'HIB3', 'HPV_FEM', 'IPV1', 'IPV2', 'MCV1', 'MCV2', 'PCV1', 'PCV2',
       'PCV3', 'PERCV_PW', 'PERCV4', 'POL3', 'RCV1', 'TTCV4', 'TTCV5',
       'TTCV6', 'BCG', 'HEPB_BD', 'PAB', 'ROTA1', 'ROTAC', 'TT2PLUS',
       'VAD1', 'HEPB_BDALL', 'YFV', 'JAPENC', 'HPV_MALE', 'FLU_ELDERLY',
       'FLU_HAJ', 'FLU_HCW', 'FLU_OTHER', 'FLU_PW', 'FLU_RESIDENT',
       'FLU_CHILD1', 'FLU_CHILD2', 'FLU_CHRONIC_ADULT', 'PRHPV1_F',
       'PRHPVC_F', 'FLU_CHRONIC_ALL', '15HPV1_F', '15HPVC_F', 'MENACYW_C',
       'MENB_C', 'MEN_B', '15HPV1_M', '15HPVC_M', 'PRHPV1_M', 'PRHPVC_M',
       'MEN_ACYW_CONJ', 'TYPHOID_CONJ', 'FLU_CHRONIC_PED', 'MEN_A_CONJ',
       'IPV1_FRAC', 'IPV2_FRAC', 'TYPHOID', 'FLU_ALL', 'MENA_C',
       'JAPENC_1', 'JAPENC_C', 'MALARIA1', 'MALARIA3', 'MALARIA4',
       'MCV2X2'], dtype=object)

In [64]:
# Normalizing all the antigen names
# Antigen normalization mapping
antigen_map = {
    # Diphtheria / Tetanus / Pertussis combinations
    'DIPHCV4': 'DIPHCV', 'DIPHCV5': 'DIPHCV', 'DIPHCV6': 'DIPHCV',
    'DTPCV1': 'DIPHCV', 'DTPCV3': 'DIPHCV',
    'TTCV4': 'TTCV', 'TTCV5': 'TTCV', 'TTCV6': 'TTCV',
    'TT2PLUS': 'TTCV',

    # Hepatitis B
    'HEPB3': 'HEPB', 'HEPB_BD': 'HEPB', 'HEPB_BDALL': 'HEPB',

    # Haemophilus influenzae type b
    'HIB3': 'HIB',

    # HPV
    'HPV_FEM': 'HPV', 'HPV_MALE': 'HPV',
    'PRHPV1_F': 'HPV', 'PRHPVC_F': 'HPV',
    '15HPV1_F': 'HPV', '15HPVC_F': 'HPV',
    '15HPV1_M': 'HPV', '15HPVC_M': 'HPV',
    'PRHPV1_M': 'HPV', 'PRHPVC_M': 'HPV',

    # Polio
    'IPV1': 'IPV', 'IPV2': 'IPV',
    'IPV1_FRAC': 'IPV', 'IPV2_FRAC': 'IPV',
    'POL3': 'POLIO',

    # Measles / Rubella
    'MCV1': 'MCV', 'MCV2': 'MCV', 'MCV2X2': 'MCV',
    'RCV1': 'RCV',

    # Pneumococcal
    'PCV1': 'PCV', 'PCV2': 'PCV', 'PCV3': 'PCV',

    # Pertussis coverage
    'PERCV_PW': 'PERCV', 'PERCV4': 'PERCV',

    # BCG
    'BCG': 'BCG',

    # Rotavirus
    'ROTA1': 'ROTA', 'ROTAC': 'ROTA',

    # Vitamin A
    'VAD1': 'VAD',

    # Yellow Fever
    'YFV': 'YFV',

    # Japanese Encephalitis
    'JAPENC': 'JAPENC', 'JAPENC_1': 'JAPENC', 'JAPENC_C': 'JAPENC',

    # Flu / Influenza
    'FLU_ELDERLY': 'FLU', 'FLU_HAJ': 'FLU', 'FLU_HCW': 'FLU',
    'FLU_OTHER': 'FLU', 'FLU_PW': 'FLU', 'FLU_RESIDENT': 'FLU',
    'FLU_CHILD1': 'FLU', 'FLU_CHILD2': 'FLU',
    'FLU_CHRONIC_ADULT': 'FLU', 'FLU_CHRONIC_ALL': 'FLU',
    'FLU_CHRONIC_PED': 'FLU', 'FLU_ALL': 'FLU',

    # Meningococcal
    'MENACYW_C': 'MEN', 'MENB_C': 'MEN', 'MEN_B': 'MEN',
    'MEN_ACYW_CONJ': 'MEN', 'MENA_C': 'MEN', 'MEN_A_CONJ': 'MEN',

    # Typhoid
    'TYPHOID_CONJ': 'TYPHOID', 'TYPHOID': 'TYPHOID',

    # Malaria
    'MALARIA1': 'MALARIA', 'MALARIA3': 'MALARIA', 'MALARIA4': 'MALARIA',

    # Others
    'PAB': 'PAB'
}
# Standardizing Antigen names
coverage_df['ANTIGEN_CLEAN'] = coverage_df['ANTIGEN'].replace(antigen_map)

In [65]:
# Reset index
coverage_df = coverage_df.reset_index(drop=True)
coverage_df.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE,DOSE_NUMBER,ANTIGEN_CLEAN
0,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52,4,DIPHCV
1,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52,4,DIPHCV
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69,5,DIPHCV
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",OFFICIAL,Official coverage,NaN,NaN,82.69,5,DIPHCV
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV6,"Diphtheria-containing vaccine, 6th dose (3rd b...",ADMIN,Administrative coverage,1468.0,1219.0,83.04,6,DIPHCV

- For incidence_rate_df

In [66]:
# Dropping all INCIDENCE_RATE NaN
incidence_rate_df = incidence_rate_df.dropna(subset = ['INCIDENCE_RATE'])

In [67]:
# Reset index
incidence_rate_df = incidence_rate_df.reset_index(drop=True)
display(incidence_rate_df.info())
display(incidence_rate_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61584 entries, 0 to 61583
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                61584 non-null  object
 1   CODE                 61584 non-null  object
 2   NAME                 61584 non-null  object
 3   YEAR                 61584 non-null  float64
 4   DISEASE              61584 non-null  object
 5   DISEASE_DESCRIPTION  61584 non-null  object
 6   DENOMINATOR          61584 non-null  object
 7   INCIDENCE_RATE       61584 non-null  float64
dtypes: float64(2), object(6)
memory usage: 3.8+ MB

None

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
4,COUNTRIES,ABW,Aruba,2023.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.0

- For reported_cases_df

In [68]:
# Removing the NaN cases
reported_cases_df = reported_cases_df.dropna(subset = ['CASES'])

In [69]:
# Reset index
reported_cases_df = reported_cases_df.reset_index(drop=True)
display(reported_cases_df.head())
display(reported_cases_df.info())

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
4,COUNTRIES,ABW,Aruba,2023.0,NTETANUS,Neonatal tetanus,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65470 entries, 0 to 65469
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                65470 non-null  object
 1   CODE                 65470 non-null  object
 2   NAME                 65470 non-null  object
 3   YEAR                 65470 non-null  float64
 4   DISEASE              65470 non-null  object
 5   DISEASE_DESCRIPTION  65470 non-null  object
 6   CASES                65470 non-null  float64
dtypes: float64(2), object(5)
memory usage: 3.5+ MB

None

- For vaccine_introduction_df

In [70]:
# Removing one null value
vaccine_introduction_df = vaccine_introduction_df.dropna(subset = ['INTRO'])

# Converting intro to binary
intro_map = {
    'No': 0,
    'Yes': 1
}
vaccine_introduction_df['INTRO'] = vaccine_introduction_df['INTRO'].replace(intro_map)

In [71]:
# Reset index
vaccine_introduction_df = vaccine_introduction_df.reset_index(drop=True)
display(vaccine_introduction_df.info())
display(vaccine_introduction_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138320 entries, 0 to 138319
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   138320 non-null  object
 1   COUNTRYNAME  138320 non-null  object
 2   WHO_REGION   138320 non-null  object
 3   YEAR         138320 non-null  float64
 4   DESCRIPTION  138320 non-null  object
 5   INTRO        138320 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

None

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,0
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,0
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,1
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,1
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,1

- For vaccine_schedule_df

In [72]:
# Dropping SOURCECOMMENT cols as they are mostly empty
vaccine_schedule_df = vaccine_schedule_df.drop(['SOURCECOMMENT'], axis=1)

In [73]:
vaccine_schedule_df['AGEADMINISTERED'].unique

<bound method Series.unique of 0        M2
1        M4
2        M6
3       M15
4        Y4
       ...
8048    M18
8049    M24
8050    M30
8051    M36
8052    NaN
Name: AGEADMINISTERED, Length: 8053, dtype: object>

In [75]:
# Converting the AGEADMINISTERED col to actual months
def time_to_months(value):
    if pd.isna(value):
        return np.nan
    
    val = str(value).strip().upper()
    
    # Birth
    if val == "B":
        return 0
    
    # Weeks (W6 â†’ 1.5 months approx)
    if val.startswith("W"):
        num = re.sub(r"\D", "", val)
        return float(num) / 4 if num else np.nan
    
    # Remove + or > or < or = signs
    val = re.sub(r"[+<>=]", "", val)
    
    # Handle ranges (Y4-Y5 â†’ take first number)
    if "-" in val:
        val = val.split("-")[0]
    
    # Months
    if val.startswith("M"):
        try:
            return float(val[1:])
        except:
            return np.nan
    
    # Years
    if val.startswith("Y"):
        try:
            return float(val[1:]) * 12
        except:
            return np.nan
    
    return np.nan



vaccine_schedule_df['AGE_ADMINISTERED_MONTHS'] = vaccine_schedule_df['AGEADMINISTERED'].apply(time_to_months)

In [76]:
# Dropping col where year is NaN
vaccine_schedule_df = vaccine_schedule_df.dropna(subset = ['YEAR'])

In [77]:
# Reset index
vaccine_schedule_df = vaccine_schedule_df.reset_index(drop=True)
display(vaccine_schedule_df.info())
display(vaccine_schedule_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8052 entries, 0 to 8051
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ISO_3_CODE               8052 non-null   object
 1   COUNTRYNAME              8052 non-null   object
 2   WHO_REGION               8052 non-null   object
 3   YEAR                     8052 non-null   float64
 4   VACCINECODE              8052 non-null   object
 5   VACCINE_DESCRIPTION      8052 non-null   object
 6   SCHEDULEROUNDS           8052 non-null   float64
 7   TARGETPOP                3795 non-null   object
 8   TARGETPOP_DESCRIPTION    8052 non-null   object
 9   GEOAREA                  8022 non-null   object
 10  AGEADMINISTERED          7007 non-null   object
 11  AGE_ADMINISTERED_MONTHS  6510 non-null   float64
dtypes: float64(3), object(9)
memory usage: 755.0+ KB

None

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,AGE_ADMINISTERED_MONTHS
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,2.0
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,4.0
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,6.0
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,15.0
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,48.0

#### **General Cleaning for all**

Standardizing Variables

In [80]:
coverage_df.rename(columns={'CODE': 'ISO_3_CODE', 'NAME': 'COUNTRYNAME'}, inplace=True)
incidence_rate_df.rename(columns={'CODE': 'ISO_3_CODE', 'NAME': 'COUNTRYNAME'}, inplace=True)
reported_cases_df.rename(columns={'CODE': 'ISO_3_CODE', 'NAME': 'COUNTRYNAME'}, inplace=True)

Converting columns to correct types

In [81]:
coverage_df.astype({'YEAR': 'int32', 'TARGET_NUMBER': 'float64', 'DOSES': 'float64', 'COVERAGE': 'float64'})
incidence_rate_df.astype({'YEAR': 'int32', 'INCIDENCE_RATE': 'float64'})
reported_cases_df.astype({'YEAR': 'int32', 'CASES': 'int32'})
vaccine_introduction_df.astype({'YEAR': 'int32'})
vaccine_schedule_df.astype({'YEAR': 'int32'})

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,AGE_ADMINISTERED_MONTHS
0,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,2.0
1,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,4.0
2,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,6.0
3,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,15.0
4,ABW,Aruba,AMRO,2023,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8047,ZWE,Zimbabwe,AFRO,2023,VITAMINA,Vitamin A supplements,2.0,NaN,General/routine,NATIONAL,M12,12.0
8048,ZWE,Zimbabwe,AFRO,2023,VITAMINA,Vitamin A supplements,3.0,NaN,General/routine,NATIONAL,M18,18.0
8049,ZWE,Zimbabwe,AFRO,2023,VITAMINA,Vitamin A supplements,4.0,NaN,General/routine,NATIONAL,M24,24.0
8050,ZWE,Zimbabwe,AFRO,2023,VITAMINA,Vitamin A supplements,5.0,NaN,General/routine,NATIONAL,M30,30.0
8051,ZWE,Zimbabwe,AFRO,2023,VITAMINA,Vitamin A supplements,6.0,NaN,General/routine,NATIONAL,M36,36.0

## **SQLite Database Setup**

In [89]:
# Create database (it will create file if not exists)
conn = sqlite3.connect("vaccination_database.db")
cursor = conn.cursor()

### **Dimension Tables**

In [92]:
# Countries
cursor.execute("""
CREATE TABLE IF NOT EXISTS countries (
    country_id INTEGER PRIMARY KEY AUTOINCREMENT,
    iso_code TEXT UNIQUE,
    country_name TEXT,
    who_region TEXT
)
""")

# Years
cursor.execute("""
CREATE TABLE IF NOT EXISTS years (
    year_id INTEGER PRIMARY KEY AUTOINCREMENT,
    year INTEGER UNIQUE
)
""")

# Vaccines
cursor.execute("""
CREATE TABLE IF NOT EXISTS vaccines (
    vaccine_id INTEGER PRIMARY KEY AUTOINCREMENT,
    vaccine_code TEXT UNIQUE,
    vaccine_description TEXT
)
""")

# Diseases
cursor.execute("""
CREATE TABLE IF NOT EXISTS diseases (
    disease_id INTEGER PRIMARY KEY AUTOINCREMENT,
    disease_code TEXT,
    disease_description TEXT
)
""")

### **Fact tables**

In [93]:
# Coverage
cursor.execute("""
CREATE TABLE IF NOT EXISTS coverage (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER,
    year_id INTEGER,
    vaccine_id INTEGER,
    dose_number INTEGER,
    coverage_category TEXT,
    target_num REAL,
    doses REAL,
    coverage REAL,
    group_name TEXT,
    FOREIGN KEY(country_id) REFERENCES countries(country_id),
    FOREIGN KEY(year_id) REFERENCES years(year_id),
    FOREIGN KEY(vaccine_id) REFERENCES vaccines(vaccine_id)
)
""")

# Incidence
cursor.execute("""
CREATE TABLE IF NOT EXISTS incidence (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER,
    year_id INTEGER,
    disease_id INTEGER,
    denominator TEXT,
    incidence_rate REAL,
    group_name TEXT,
    FOREIGN KEY(country_id) REFERENCES countries(country_id),
    FOREIGN KEY(year_id) REFERENCES years(year_id),
    FOREIGN KEY(disease_id) REFERENCES diseases(disease_id)
)
""")

# Reported Cases
cursor.execute("""
CREATE TABLE IF NOT EXISTS reported (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER,
    year_id INTEGER,
    disease_id INTEGER,
    cases REAL,
    group_name TEXT,
    FOREIGN KEY(country_id) REFERENCES countries(country_id),
    FOREIGN KEY(year_id) REFERENCES years(year_id),
    FOREIGN KEY(disease_id) REFERENCES diseases(disease_id)
)
""")

# Vaccine Introduction
cursor.execute("""
CREATE TABLE IF NOT EXISTS v_introduction (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER,
    year_id INTEGER,
    vaccine_id INTEGER,
    description TEXT,
    intro INTEGER,
    FOREIGN KEY(country_id) REFERENCES countries(country_id),
    FOREIGN KEY(year_id) REFERENCES years(year_id),
    FOREIGN KEY(vaccine_id) REFERENCES vaccines(vaccine_id)
)
""")

# Vaccine Schedule
cursor.execute("""
CREATE TABLE IF NOT EXISTS v_schedule (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER,
    year_id INTEGER,
    vaccine_id INTEGER,
    schedule_rounds REAL,
    geoarea TEXT,
    age_administered TEXT,
    age_months REAL,
    FOREIGN KEY(country_id) REFERENCES countries(country_id),
    FOREIGN KEY(year_id) REFERENCES years(year_id),
    FOREIGN KEY(vaccine_id) REFERENCES vaccines(vaccine_id)
)
""")

### Putting data into the database